/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: 'wght' 400;
  background-image: var(--gradient);
  background-attachment: fixed;
  background-size: cover;
}

.content {
  max-inline-size: 696px;
  margin: 0 auto;
  margin-block-start: 100px;
}

/* header */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: clamp(7.5rem, 7.357rem + 0.714vw, 8rem);
  padding-bottom: clamp(7.5rem, 7.357rem + 0.714vw, 8rem);
  /*сделай clamp */
  background-color: var(--white, #fff);
  border: 2px solid var(--black, #000);
}

.header__title {
  font-family: var(--accent-font);
  font-size: clamp(3.063rem, 2.777rem + 1.429vw, 4.063rem);
  /*сделай clamp */
}

.header__description {
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.714rem + 0.804vw, 1.438rem);
}

/* header */

/* card */

.cards-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

}

.card {
  outline: 2px solid var(--black, #000);
  background-color: var(--white);
}

.card__title {
  font-family: var(--main-font, sans-serif);
  font-weight: var(--font-weight-bold);
  font-variation-settings: 'wght' var(--font-weight-bold);
  font-size: 18px;
  padding: 4px 10px;
}

.card__image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  font-size: 14px;
  font-family: var(--accent-font);
  text-transform: uppercase;
  color: var(--black);
  text-shadow:
    0 var(--white),
    0 1px var(--white),
    0 -1px var(--white),
    1px 0 var(--white);
}

@supports((text-stroke: 1px var(--white)) or (-webkit-text-stroke: 1px var(--white))) {
  figcaption {
    -webkit-text-stroke: 1px var(--white);
    text-stroke: 1px var(--white);
    text-shadow: none;
  }
}

/* изображения */
.card__image {
  margin: 0;
  position: relative;
  border-block-start: 2px solid var(--black, #000);
  border-block-end: 2px solid var(--black, #000);
}

.image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  object-fit: cover;
}


.card:nth-child(1) .image {
  filter: blur(50px);
}

.card:nth-child(2) .image {
  filter: blur(1px);
}

.card:nth-child(3) .image {
  filter: blur(0px);
}



/* изображения */

.card__content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
}

.card__paragraph {
  font-family: var(--main-font, sans-serif);
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-weight-regular);
}

.card__buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 25px 25px 0;
  gap: 12px;
}


.card__like-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 12.5px 37px;
  block-size: 38px;
  inline-size: 130px;
  /* color: var(--black, #000); */
  background-color: var(--white, #fff);
  border: 2px solid var(--black, #000);
  overflow: hidden;
  cursor: pointer;
}

.button__text {
  color: var(--black, #000);
  font-family: var(--accent-font);
  font-size: 14px;
  color: var(--mix-color);
  line-height: 90%;
  font-weight: 400;
  mix-blend-mode: difference;
  z-index: 1;
  position: relative;
}




/* состояние кнопки like */

.card__like-button:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  transform: translateX(-100%);
  background-color: var(--black, #000);
  transition: transform 0.5s ease-in-out;
  background-blend-mode: difference;
  z-index: 0;
}

.card__like-button:hover:not(:active):before {
  transform: translateX(0);
  border: 2px solid var(--black, #000);
}


.card__like-button:active:not(:hover) {
  border: 2px solid var(--black, #000);
  outline: none;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  border: 2px solid var(--black, #000);
  box-shadow: 2px 2px 0px 0px var(--black, #000);
  transition: .3s;
  outline: none;
}


/* состояние кнопки like*/


.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 0;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

/* состояние кнопки сердце*/

.card__icon-button:focus {
  outline: none;
}
.card__icon-button:focus-visible {
  border: 2px solid var(--black, #000);
  transition: 0.3s ease;
}